@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


body {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 300vh;
    background: linear-gradient(180deg, rgba(7,7,14, 1) 35%, rgba(16, 57, 81, 1) 100%);
    justify-content: center;
}
.title {
    display: flex;
    position: absolute;
    top: -3%;
    
   font-family: "Dancing Script", cursive;
 
  font-weight: 400;
  font-size: 2.5rem;
  font-style: normal;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index: 10;
}
.hero{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url(images/ghibli\ whisper.gif);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0%;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 2.5rem;
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 1); 
  text-align: center; 
}
.herotxt {
    position: absolute;
    top: 24%;
    
}
.herotxt p{
    margin: 70% 0 0 0;
}
