
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}

.firstsec{
    position: relative;
    display: flex;
    margin: 0%;
    padding: 0%;
    height: 100vh;
    width: 100%;
    background-image: url(/images/rosesec\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.secondsec{
    position: relative;
  background-image: url(/images/rose\ sec\ 2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    color: white;

}
.secondsectextwrap{
    
    top: 50%;
    left: 50%;
    transform: translate(52%, -50%);
    text-align: left;
    width: 26%;
    font-size: 1rem;
    font-family: "Cormorant", serif;
    font-weight: 400;
  
  font-style: normal;
}
.secondsec::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6); /* darkness */
  z-index: 0;
}

.secondsec > * {
  position: relative;
  z-index: 1;
}
.thirdsec{
    position: relative;
  background-image: url(/images/rose\ sec\ 3.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    color: white;

}
.thirdsectextwrap{
    
    top: 50%;
    left: 50%;
    transform: translate(52%, -50%);
    text-align: left;
    width: 26%;
    font-size: 1rem;
    font-family: "Cormorant", serif;
    font-weight: 400;
  
  font-style: normal;
}
.thirdsec::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6); /* darkness */
  z-index: 0;
}

.thirdsec > * {
  position: relative;
  z-index: 1;
}